body{
  background-color: rgb(146, 111, 60);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  padding: 20px;
  background-color: beige;
  text-align: center;
}
.heading{
  font-family: cursive;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}
button{
  color: red;
  font-family: monospace;
  font-size: large;
  font-weight: 700;
  border-radius: 10px;
}
li{
  list-style: none;
  border: 2px rgb(16, 15, 15) solid;
}
input[type=checkbox]:checked + span {
  color:rgb(16, 14, 14);
  text-decoration: line-through;
} 
​
.todo-list{
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  padding: 10px;
  color: rgb(46, 24, 24);
}
.span-desc{
  padding: 0 5px;
  color: rgb(19, 39, 39);
  font-size: 1.25rem;
}
.span-date{
  padding: 0 10px;
}
.add-todo{
  font-weight:800;
  color: rgb(52, 48, 48);
  font-size: 1.25rem;
}
.add-todo > input {
  width: 30%;
  height: 25px;
  margin: 0 auto;
  border: auto;
  border-radius: 10px;
  margin: 0 10px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: medium;
  color: darkgray;
  text-align: center;
}