body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #C4DFAA;
}
.key-press {
  text-align: center;
  margin: 20px;
 
}
h2{
  font-size: 2rem;
  font-family: cursive
}

button{
  color: rgb(12, 11, 11);
  background-color: lightgreen;
  height: 50px;
  width: 120px;
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

#countdown{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: red;

}
.box {
  display: flex;
  justify-content: center;
}

#box-1, #box-2{
  height: 250px;
  width: 300px;
  border: solid 2px rgb(147, 140, 140);
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#box-3{
  height: 250px;
  width: 300px;
  border: solid 2px rgb(147, 140, 140);
}
