* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


p {
    color: rgb(148, 144, 144);
    font-size: 12px;
    line-height: 1.15rem;
}

/* h1 to h3 all heading font traformation*/

h1, h2, h4 {
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
}

ul {
    list-style: none;
}

.header-info {
    padding: 2rem 8rem;
    background-color: whitesmoke;
}

/* navbar */
nav {
    padding: 0 8rem;
}

nav>ul {
    display: flex;
}

nav>ul>li {


    padding-right: 1rem;
    margin: 1rem 0;
    color: black
}

a {
    text-decoration: none;
    color: inherit;
}

/* main part of office image*/

section img {
    width: 100%;


}

/* used flex for main Containt part */

.info, .gallery {
    display: flex;
    width: 100%;

}

.aside-article-info, .galllery-info {

    width: 40%;
    margin: 0 1rem;
    padding: 3rem 8rem;

}

.main-article-info, .logo-info {
    width: 60%;
    margin: 0 2rem;
    padding: 3rem;
}


.main-article-info p {

    padding-bottom: 10px;
}

/* created grid for logo icons */

.logo {

    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: 80px;
    grid-auto-rows: 80px;
    justify-items: center;
    gap: 10px;

}

.logo-image {
    width: 60px;
    height: 60px;
}

/* footer part of website */

.footer-info {
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding: 3rem;
    background-color: blueviolet;
    color: aliceblue;


}

.footer-map {
    box-shadow: thistle;
    width: 120px;
    height: 130px;
}

footer p {
    color: aliceblue;
}

footer li {

    border-bottom: 1px solid whitesmoke;
    padding: 10px 0;
}


/* Resposive for small device */


@media only screen and (max-width: 768px) {


    h1 {
        font-size: 1.2rem;
        text-align: center;
    }

    p {
        text-align: justify;
        padding: 20px;
    }

    nav>ul {
        display: flex;
        flex-direction: column;
        align-items: center;


    }



    .header-info, .info, .gallery, .footer-info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-self: center;
        margin: 0;
        padding: 20px;
    }


    .aside-article-info {
        flex-direction: column;
        margin: 0;
        padding: 20px;
        width: 80%;

    }

    .main-article-info {
        flex-direction: column;
        margin: 0;
        padding: 20px;
        width: 80%;
        order: -1;

    }

    .galllery-info, .logo-info {

        flex-direction: column;
        margin: 0;
        padding: 20px;
        width: 80%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .logo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);


    }

}